rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /notice-files/{uid}/{fileName} {
      allow read: if true;
      allow write, delete: if request.auth != null
        && request.auth.uid == uid
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('application/(pdf)|image/.*');
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}